[submodule "rethinkdb"]
	path = rethinkdb
	url = https://github.com/rethinkdb/rethinkdb.git
[submodule "redis"]
	path = redis
	url = https://github.com/redis/redis.git
[submodule "garnet"]
	path = garnet
	url = https://github.com/microsoft/garnet.git
[submodule "nats-server"]
	path = nats-server
	url = https://github.com/nats-io/nats-server.git
[submodule "seaweedfs"]
	path = seaweedfs
	url = https://github.com/seaweedfs/seaweedfs.git
[submodule "traefik"]
	path = traefik
	url = https://github.com/traefik/traefik.git
